# secrets
.env*
!.env*example
postgres-prod.sql

# compiled output
/consumer-app-data
/dist
/tmp
/out-tsc
/typings

# dependencies
/node_modules
package-lock.json
yarn.lock

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# Credentials
/src/common/config/creds

# System Files
.DS_Store
Thumbs.db

# logs
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
yarn-error.log

# misc
/connect.lock
.cmdHistory.sh
.cicd.sh

/build/
/healthloq-widget/
.parcel-cache/
.cache/